<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>anal</string>
	<string>ass</string>
	<string>anorexia</string>
    <string>acornhead</string>
    <string>ak47</string>
	<string>bang</string>
	<string>balls</string>
	<string>bighead</string>
	<string>bitch</string>
    <string>bitchface</string>
    <string>black</string>
    <string>blackd</string>
	<string>blow</string>
	<string>bomb</string>
    <string>bnor</string>
	<string>boner</string>
	<string>boob</string>
    <string>booty</string>
    <string>bootypics</string>
	<string>bra</string>
	<string>breast</string>
	<string>bush</string>
    <string>bust</string>
    <string>bustanut</string>
	<string>butt</string>
	<string>chink</string>
    <string>cheater</string>
	<string>chode</string>
	<string>cleavage</string>
	<string>clit</string>
	<string>cock</string>
    <string>coke</string>
	<string>crack</string>
    <string>crackhead</string>
    <string>crossdresser</string>
	<string>cum</string>
	<string>cumshot</string>
	<string>cunt</string>
    <string>daddyis</string>
	<string>daddylove</string>
	<string>damn</string>
	<string>dead</string>
	<string>deepthroat</string>
	<string>dick</string>
	<string>dildo</string>
	<string>dirty</string>
    <string>dontlike</string>
	<string>dumb</string>
	<string>dyke</string>
	<string>fag</string>
    <string>fags</string>
	<string>fake</string>
	<string>fap</string>
	<string>fat</string>
	<string>fetish</string>
    <string>feedme</string>
	<string>freak</string>
	<string>fuck</string>
    <string>f*ck</string>
	<string>gay</string>
    <string>ginger</string>
    <string>goat</string>
	<string>gun</string>
	<string>hardcore</string>
	<string>hates</string>
	<string>hardnips</string>
	<string>hoe</string>
	<string>hole</string>
    <string>hoz</string>
    <string>illegal</string>
	<string>kik</string>
	<string>kill</string>
	<string>knockers</string>
    <string>jerk</string>
    <string>jerkoff</string>
    <string>jewcurls</string>
	<string>jew</string>
    <string>jews</string>
	<string>jizz</string>
	<string>joog</string>
	<string>jugs</string>
    <string>kush</string>
	<string>lingerie</string>
    <string>mean</string>
	<string>milf</string>
    <string>mommyis</string>
    <string>monkey</string>
	<string>mouth</string>
	<string>murder</string>
	<string>naked</string>
    <string>nasty</string>
	<string>nigga</string>
	<string>nigger</string>
    <string>niggers</string>
	<string>nip</string>
	<string>nips</string>
	<string>nipple</string>
    <string>nophotoshop</string>
    <string>notbae</string>
	<string>nut</string>
	<string>nsfw</string>
	<string>nude</string>
    <string>onmyface</string>
	<string>oral</string>
	<string>orgasm</string>
    <string>pedophile</string>
	<string>penis</string>
	<string>petite</string>
	<string>piercing</string>
	<string>pimp</string>
	<string>poon</string>
	<string>poop</string>
	<string>porn</string>
	<string>prostitute</string>
	<string>pussy</string>
    <string>pu$$y</string>
    <string>p.u.s.s.y</string>
	<string>rack</string>
	<string>rape</string>
	<string>readyfor</string>
	<string>sale</string>
	<string>sex</string>
    <string>sexy</string>
	<string>scum</string>
	<string>shit</string>
	<string>shoot</string>
    <string>shortbut</string>
	<string>shower</string>
	<string>skinny</string>
	<string>slayer</string>
	<string>slyaer</string>
	<string>sloot</string>
    <string>sloth</string>
	<string>slut</string>
    <string>small</string>
    <string>smallpenis</string>
    <string>somed</string>
	<string>spank</string>
    <string>stank</string>
    <string>stickitin</string>
    <string>straightout</string>
	<string>strip</string>
    <string>stroke</string>
	<string>suck</string>
	<string>testicle</string>
	<string>tit</string>
	<string>tits</string>
	<string>thot</string>
    <string>th0tties</string>
	<string>threat</string>
    <string>thed</string>
    <string>turnt</string>
	<string>ugly</string>
	<string>underwear</string>
	<string>vagina</string>
	<string>vag</string>
	<string>virg</string>
	<string>virgin</string>
    <string>vcard</string>
	<string>wank</string>
	<string>worse</string>
	<string>worst</string>
    <string>wronghole</string>
	<string>weed</string>
	<string>wet</string>
	<string>whitegirl</string>
    <string>whenhe</string>
    <string>whenshe</string>
    <string>whenthe</string>
	<string>wholetthemonkey</string>
	<string>whore</string>
    <string>wtf</string>
    <string>wronghole</string>
	<string>xx</string>
	<string>.</string>
    <string>10in</string>
    <string>2time</string>
    <string>3some</string>
    <string>8=</string>
    <string>=d</string>
    <string>Ś</string>
    <string>ü</string>
    <string>ç</string>
    
</array>
</plist>
